.Form-orange {
  padding: 10px;
  text-align: left;
  background: #f79a22;
  color: #ffffff;
  font-size: 20px;
  height: 100%;
  font-weight: bold;
}

small {
  color: red; 
  text-align: right;
}

.successMsg {
  color: green; 
  text-align: center;
}

input[type="submit"].form-small-button , button.form-small-button {
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 40px;
	text-indent: -9999px;
  display: inline-block;
  cursor: pointer;  
  border-radius: 5em;
  border:none;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #606161;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #606161;
}


.box {
	display: flex;
	align-items: center;
	justify-content: center;
}

th, td {
  padding: 4px;
}

tfoot td {
	padding: 20px;
}

.section-padding {
  padding: 7px
}

.flex-container-vertical {
  display: flex;
  flex-flow: column nowrap;  
}

.section-whole-page {
  display: inline-block;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: left 11%;
  background-size: contain;
  background-attachment: scroll;
}
.height-full-page {
  min-height: 100vh;
}

.flex-container-horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.flex-container-align-start {
  align-items: flex-start;
}

.flex-items-wholeWidth {
  flex: 1 1 auto;
}

.flex-items-wholeWidth {
  flex: 1 1 auto;
}

.background-AppDarkOrange {
  background-color: #ee8422;
}

.background-AppWhite {
  background-color: #ffffff;
}

.background-AppOrange {
 background-color: #f79a22;
}

.background-AppDarkGrey {
  background-color: #606161;
}

.background-AppGreen {
  background-color: #a1bb3e;
}

.background-red {
  background-color: red;
}

.flex-content-start {
    justify-content: flex-start;
}

.flex-content-end {
    justify-content: flex-end;
}

.flex-last-row {
  flex: 1 1 auto;
}

.stripedTable tbody > tr:nth-child(odd) {
  background: #eaeaea;
}

.stripedTable tbody > tr:nth-child(even) {
  background: #fafafa;
}

.cell-whole-width {
  width: 100%;
}

.text-white-bold {
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.stripedTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.stripedTable td, th {
  border: 2px solid #ffffff; 
}
.stripedTable tr > th {
  border-top: 0;
}
.stripedTable tr td:first-child, tr th:first-child {
  border-left: 0;
}
.stripedTable tr:last-child td {
  border-bottom: 0;
}
.stripedTable tr td:last-child, tr th:last-child {
  border-right: 0;
}

.stripedTable tbody > tr:hover {
  background-color: #ffffff;  
  border: 3px solid #a1bb3e;
}

label.labelpadded {
    display: block; 
    padding-right: 20px;
    text-align: left;
}

.Table
    {
        display: table;
        table-layout: fixed;
        width: 40%;
        min-width: 350px;
    }

.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Body
{
    display: table-row-group;

}

.Row
{
    display: table-row;
}

.Cell
{
    display: table-cell;
    padding: 5px;
    width: 100%;   
}

.Foot
{
    display: table-footer-group;

}

.wholeRow {  
  width: 100%;
}

input[type="submit"].form-verysmall-button, button.form-verysmall-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 20px;
  width: 50px;
  text-indent: -9999px;
  color: #A9A9A9;
  display: inline-block;
  cursor: pointer;  
  border-radius: 5em;
  border:none;
  margin: 1px;
}

p.alert-msg {
  text-align: center;
  width: 100%;
  color: red;
  font-weight: bold;
}